body{	
	padding-top: 51px;
	padding-bottom: 70px;
}

.carousel-images{
	max-width: 400px;
}

.media-object{
	max-width: 200px;
}

.projectsInfo{
	margin-left: 20px;
	margin-right: 20px;
}

.projectDesc{
	font-size: 18px;
	margin-top: 20px;
}

.media-body{
	padding-left: 10px;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
    background-color: #a3bd64;
    border-color: #000;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}