body{	
	padding-top: 70px;
	padding-bottom: 70px;
	font-family: 'Roboto Slab', serif;
}

.carousel-images{
	max-width: 300px;
}

.media-object{
	max-width: 200px;
}

.projectsInfo{
	margin-left: 20px;
	margin-right: 20px;
}

.projectDesc{
	font-size: 18px;
	margin-top: 20px;
}

.media-body{
	padding-left: 10px;
}

#socialMedia{
	font-size: 18px;
}

#socialMedia li{
	margin-top: 10px;
}

#socialMedia img{
	max-width: 35px;
}


.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
    background-color: #a3bd64;
    border-color: #000;
}

.carousel-indicators li {
	background-color: lightblue;
}

.carousel-indicators .active {
	background-color: #489BD5;
}

.btn-primary {
	background-color: black;
	border: 0;	
	color: white !important;
}


.btn-primary:hover {
	background-color: #489BD5 !important;
	border: 0;
}

.btn-primary:focus {
	background-color: #489BD5 !important; 
	border: 0;
}

.btn-primary:active {
	background: #489BD5 !important;
	border: 0;
}

.bg-em {
	background-color: #489BD5;
	border: 0;	
	color: white !important;
}


.bg-em:hover {
	background-color: #489BD5 !important;
	border: 0;
}

.bg-em:focus {
	background-color: #489BD5 !important; 
	border: 0;
}

.bg-em:active {
	background: #489BD5 !important;
	border: 0;
}


.carousel-control-next-icon:after
{
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#489BD5' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#489BD5' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
	color: inherit;
}

